<div *ngIf="movie">
  <div class="col-4">
    <div class="card">
      <h2>{{movie.name}}</h2>
      <img src="{{movie.imageUrl || './assets/user.png'}}" alt="no image" class="card-img-top img-thumbnail" />
      <div class="card-body">
        <div>
          <strong>Director: {{movie.director}}</strong>
        </div>
        <div>
          <strong>Release Date: {{movie.releaseDate}}</strong>
        </div>
      </div>
      <div class="footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Favourite</button>
        </div>
      </div>
    </div>
  </div>
</div>
