<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align:center">
    <h1>Welcome to Cool Movies DB</h1>
    <p class="lead">The coolest place to find all your favourite movies! Signup to choose your favourite movies.</p>
    <div class="text-center">
      <button class="btn btn-success mr-2"  (click)="registerToggle()">Register</button>
      <button class="btn btn-primary mr-2">Learn More</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
